@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 210 90% 55%;
    --primary-foreground: 0 0% 98%;
    --secondary: 278 35% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 210 20% 94%;
    --muted-foreground: 210 10% 45%;
    --accent: 200 68% 90%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 88%;
    --ring: 210 90% 55%;
    --radius: 0.5rem;
    --chart-1: 210 90% 55%;
    --chart-2: 200 68% 83%;
    --chart-3: 278 35% 85%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 210 90% 55%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 200 68% 93%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 210 90% 55%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 90% 58%;
    --primary-foreground: 210 40% 9.8%;
    --secondary: 217 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 82.6% 55.9%;
    --chart-1: 210 90% 58%;
    --chart-2: 200 68% 40%;
    --chart-3: 278 35% 50%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 90% 58%;
    --sidebar-primary-foreground: 210 40% 9.8%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 212.7 82.6% 55.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
